@page
@model Cipa.Pages.UsersSession.UsersSessionModel
@{
}


<h2>Добавлению людей на сессию (регистрацию их на экзамены)</h2>
<div>
    <div>
        <p>
            При запросе на добавление людей на экзамены по городам, странам, необходимо:<br />
            <ul>
                <li>
                    Уточнить все ли данные внесли для регистрации людей на экзамены.
                </li>
                <li>
                    Уточнить делать регистрацию для одного города или для всей страны.
                </li>
                [часто бывает что просят добавить людей на экзамен (экзамены) которые подали заявку уже после регистрации]<br />
                В таком случае придется добавлять данные через ssms(базу данных).
            </ul>
        </p>
    </div>
    <div class="text-center">
        <h3> Добавление людей на экзамены по <strong>стране</strong></h3>
        <hr />
        <div style="display: inline;">
            <form id="CountryView" method="post" style="display: inline-flex;">
                <div style="padding: 20px;">
                    <select asp-for="CountryId" asp-items="@(new SelectList(Model.Countries, "CountryId", "CountryName"))" required>
                        <option value="" selected disabled> --Выберите Страну--</option>
                    </select>
                    <br />

                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>

                <div style="padding: 15px;">
                    <input type="submit" value="Добавить " class="btn btn-primary">
                </div>
            </form>
        </div>
        <hr />
        <h3>Добавление людей на экзамены по <strong>городу</strong></h3>
        <hr />
        <div style="display: inline;">
            <form id="CityView" method="post" style="display: inline-flex;">
                <div style="padding: 20px;">
                    <select asp-for="CityId" asp-items="@(new SelectList(Model.Cities, "CityId", "CityName"))" required>
                        <option value="" selected disabled> --Выберите Город--</option>
                    </select>
                    <br />

                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>

                <div style="padding: 15px;">
                    <input type="submit" value="Добавить" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div style="color: red; border: red 1px;">@Model.Message</div>

    </div>
</div>
